
.body{
    background-color: #c1bcbc;
}

.form-group{
    width: 400px;
    margin: 5px;
}

.cont-1{
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.form-check{
    padding: 5px;
    border: 1px solid rgb(240, 229, 229);
    border-radius: 5px;
    background-color: rgb(240, 229, 229);
    margin-bottom: 5px;
}

.item{
    padding: 5px;
    margin: 5px;
    border: 1px solid #c1bcbc;
    background-color: #c1bcbc;
    border-radius: 5px;
    text-align: center;
}